/* 전체 컨테이너 */
.home-container {
    background-color: #fefaf3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* 헤더 영역 */
  .home-header {
    background-color: #6586e9;
    color: white;
    padding: 0px 16px 35px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
  }
  
  /* .menu-icon {
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
   */
  .header-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  /* 콘텐츠 영역 */
  .content-container {
    background-color: white;
    margin: -40px 16px 0;
    border-radius: 30px;
    padding: 24px 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }
  
  .section-title {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* 상태 카드 */
  .status-card {
    background-color: #fefaf3;
    border-radius: 10px;
    padding: 12px 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.1);
  }
  
  /* 상태 좌측 */
  .status-left {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  /* 동그라미 표시 */
  .status-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
  
  .green {
    background-color: #6ecf9a;
  }
  
  /* 텍스트 색상 */
  .green-text {
    color: #009f3c;
    font-weight: bold;
    font-size: 18px;
  }
  
  .red-text {
    color: #e6535b;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px #00000020;
  }
  
  /* 혼잡 배지 */
  .alert-badge {
    background-color: #e6535b;
    color: white;
    font-size: 12px;
    border-radius: 9999px;
    padding: 4px 12px;
  }
  
  /* 푸터 */
  .footer {
    margin-top: auto;
    padding: 16px;
    text-align: center;
    font-size: 12px;
    color: #888;
  }
  
  span {
    color: black;
  }