.map-container {
  background-color: #fefaf3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 80vw
}

.map-content {
  width: max-content;
  height: max-content;
  transition: transform 0.1s ease-out;
}

.map-image {
  display: block;
  max-width: none; /* Prevent image from shrinking */
}

/* 헤더 영역 */
.map-header {
  background-color: #6586e9;
  color: white;
  padding: 0px 16px 35px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}

.map-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

/* 콘텐츠 영역 */
.content-container {
  background-color: white;
  margin: -40px 0px 0;
  border-radius: 30px;
  padding: 24px 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  z-index: 1;
  min-height: 70vh;
}

.content-company {
  color : black;
  height: 50px;
  background-color: #fefaf3;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
}